.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}
.footer_link{
    display: flex;
     list-style: none;
    gap: 50px;
    margin-top: 18px;
    cursor: pointer;
}
.icon{
    display: flex;
    gap: 20px;
      cursor: pointer;
    margin-top: 30px;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  color: black;
  font-size: 20px;
}
.copy  hr{
    width: 80%;
    margin-top: 20px;
    height: 3px;
}
.copy p{
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 15px;
}