.herobox{
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg,white,gray 60%);
}
.right_side{
    justify-content: center;
    color: black;
    flex: 1;
    flex-direction: column;
    display: flex;
    padding-left: 150px;
    
}
.right_side h4{
    word-spacing: 2px;
    letter-spacing: 2px;
    font-family: poppins,sans-serif;
    color:rgba(0, 0, 0, 0.727);
    margin-bottom: 20px;
}
.p_tag{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.hero_img{
   display: flex;
   align-items: center;
   gap: 10px;
    
}
.hero_img{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.hero_img img{
    height: 45px;
    width: 80px;
    object-fit: contain;
}
.btn_hero button{
   background-color: brown;
   color: black;
   width: 240px;
   height: 30px;
   padding: auto;
   border-radius: 10px;
   object-fit: contain;
   cursor: pointer;
}
.btn_hero{
margin-top: 30px;
}
.left_side{
    flex: 1;
    justify-content: center;
    text-align: center;
    display: flex;
}