.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    gap: 20px;
}
.popular_item{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.popular hr{
    width: 200px;
    border-radius: 10px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.732);
    margin-top: -18px;
}
.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 600
}