.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    width: 100%;
    padding: 30px 20px;
    gap: 20px;
    background: linear-gradient(180deg,#fde1ff 0%)#e1ffea22 60%;

}
.subscribe h1{
    font-size: 40px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.807);
}
.subscribe p{
    font-size: 20px;
    margin-top: 10px;
}
.input_box{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.input_box input{
    padding: 3px;
    width: 250px;
    border:none;
    outline: none;
}
.input_box button{
    border-radius: 8px;
    padding: 3px;
    background-color:black ;
    color: white;
}